<!-- <footer id="contact" class="footer">
  <div class="container footer__inner">
    <div class="footer__logo">
      <img src="./assets/img/logo.png" alt="21st">
    </div>
    <ul class="footer__list  footer__list--main">
      <li><a class="footer__list__link" href="#home">Home</a></li>
      <li><a class="footer__list__link" href="#about">About</a></li>
      <li><a class="footer__list__link" href="#features">Features</a></li>
      <li><a class="footer__list__link" href="#testimonials">Testimonials</a></li>
      <li><a class="footer__list__link" href="#prices">Prices</a></li>
    </ul>
    <ul class="footer__list">
      <li><a class="footer__list__link" href="">
        <img src="./assets/img/facebook.png" alt="Facebook">
      </a></li>
      <li><a class="footer__list__link" href="">
        <img src="./assets/img/linkedin.png" alt="Linkedin">
      </a></li>
    </ul>
  </div>
</footer> -->

<script src="/js/app.js"></script>
</html>
