<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>EduConnection</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header id="home" class="header">
  <div class="container flex header__inner">
    <div class="header__logo">
      <h1>EduConnection</h1>
    </div>
    <nav class="menu">
      <div>
        <ul class="menu__list">
          <li>
            <a href="#about" class="menu__list__link">About</a>
          </li>
          <li>
            <a href="#mentor" class="menu__list__link">For mentors</a>
          </li>
          <li>
            <a href="#student" class="menu__list__link">For students</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="menu-toggle toggle-js">
      <span></span>
    </div>
  </div>
</header>
