$white: #fff;
$purple: #F45C54;
$purple_dark: #362649;
$purple_light: #624d79;
$green: #F1CD21;
$porcelain: rgb(131, 250, 162);
$porcelain_light: #f5f7f8;
$geyser: #cedcdf;
$woodsmoke: #1E183C;
$gray: #A38D93;

// breakpoints
$xsmartphone: 376px;
$smartphone: 575px;
$tablet: 770px;
$desktop: 1100px;
